<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optical Digit Recognizer</title>
</head>
<body>

    <div class="" style="display:flex;">
        <div class="canvas"></div>
        <!-- canvas  -->

        <h1 class="prediction">Predictions appear hear</h1>
        <!-- predictions display  -->
    </div>

    <script src="/static/app.js"></script>
</body>
</html>